.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* background-color: #282c34; */ /* İstediğiniz arka plan rengini ayarlayabilirsiniz */
  /* color: white; */ /* İstediğiniz metin rengini ayarlayabilirsiniz */
}

.App-nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: #333; /* Navigasyon arka plan rengi */
  display: flex;
  justify-content: center;
}

.App-nav li {
  margin: 0 15px;
}

.App-nav a {
  color: white;
  text-decoration: none;
  padding: 15px 20px;
  display: block;
}

.App-nav a:hover {
  background-color: #575757;
}

.App-content {
  flex-grow: 1; /* İçerik kısmının kalan alanı kaplamasını sağlar */
  padding: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} 

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
